.header {
    height: 3.7em;
    max-height: 3.7em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #2a2a2a;
    width: 100%;
}

.header_login-cart {
    display: flex;
    justify-content: flex-end; 
}

.header_logo {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
}

.header_login {
    margin-right: 20px;
}

.header_wrapper_cart {
    margin-top: 10px;
    display: inline-block;
    position: relative;
}